Flask==2.0.2
itsdangerous==2.0.1
Jinja2==2.11.3   
matplotlib 
numpy 
pandas 
pandas-datareader
pydot  
requests  
sklearn 
yfinance
click
datetime
plotly
keras
guicorn==20.1.0
MarkupSafe==1.1.1
Werkzeug
