beautifulsoup4  
Cython 
Flask==2.0.2
itsdangerous==2.0.1
Jinja2  
MarkupSafe 
matplotlib 
numpy 
pandas 
pandas-datareader
pydot  
requests 
scikit-learn==0.24.2 
sklearn==0.0
tensorflow-estimator==2.7.0
XlsxWriter  
yfinance==0.1.67
